@media {
    body {
        font-family: Arial;
        margin: 0;
    }

    @media (prefers-color-scheme: dark) {
        body {
            background: black;
            color: #fff;
        }
    }
}

@media {
    body .body-header {
        background: #111;
        height: 50px;
        width: 100%;
        height: 50px;
        position: fixed;
        top: 0;
        width: 100%;
    }
    
    body .body-header > row {
        justify-content: space-between;
    }
    
    body .body-header .card-user {
        height: 50px;
        /* width: 50px; */
    }
    
    body .body-header .card-user box {
        line-height: 50px;
        padding: 0 10px;
        /* width: 50px; */
    }
    
    body .body-header .card-user box i {
        color: #fff;
    }
    
    body .body-header .card-user box text {
        color: #fe0000;
    }
    
    body .body-header .card-user box > row {
        gap: 0px;
    }
    
    body .body-header .card-user box i {
        height: 50px;
        /* width: 50px; */
    }
    
    body .body-header .card-user box i:has(con) {
        font-weight: bolder;
        --ggs: 0.6
    }
    
    body .body-header .card-system box i {
        height: 50px;
        width: 50px;
    }

    .body-header card .box-avatar {
        background: #000;
        border-radius: 50%;
        /* height: 50px; */
        margin: 10px;
        overflow: hidden;
        /* width: 100%; */
    }

    .body-header card .box-avatar picture:first-child:empty {
        display: none;
    }

    .body-header card .box-avatar picture {
        filter: invert(1);
        height: 30px;
        width: 30px;
    }

    .body-header card .box-avatar picture img {
        bottom: 0;
        height: 80%;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        width: 80%;
    }
}
