@media {
    .component-home {
        height: 100%;
        width: 100%;
    }
}

@media {
    .component-home .article-ring {
        align-items: center;
        display: flex;
        flex: 1;
        justify-content: center;
        height: 100%;
        margin: auto;
        max-width: calc(100% - 20px);
        width: 320px;
    }

    .component-home .article-ring > section {
        width: 100%;
    }

    .component-home .article-ring .ring-spectrum {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        max-height: 100%;
        width: 100%;
    }

    .component-home .article-ring .ring-spectrum > section {
        /* border: 2px solid white; */
        border-radius: 50%;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        height: 320px;
        margin: 70px 0 10px;
        position: relative;
        width: 320px;
        /* background-image: url('/assets/jpg/perfect-circles.jpg'); */
        background-position: center;
        background-size: cover;
    }

    .component-home .article-ring .ring-spectrum span {
        border-radius: 50%;
        display: flex;
        height: 0;
        padding-top: calc((100% - 0px) / 3.5);
        position: relative;
        width: calc((100% - 0px) / 3.5);
    }

    .component-home .article-ring .ring-spectrum .ring {
        bottom: 0;
        box-sizing: border-box;
        left: 0;
        margin: auto;
        right: 0;
        position: absolute;
        top: 0;
        transform-origin: center;
        /* display: none; */
    }

    .component-home .article-ring .ring-spectrum .ring-white {
        /* background-color: white; */
        /* border: 2px solid white; */
        box-sizing: border-box;
    }

    .component-home .article-ring .ring-spectrum .ring-red {
        margin: auto;
        translate: 96% -75%;
    }

    .component-home .article-ring .ring-spectrum .ring-orange {
        background-color: orange;
        translate: 119% 28%;
    }

    .component-home .article-ring .ring-spectrum .ring-yellow {
        translate: 53% 111%;
    }

    .component-home .article-ring .ring-spectrum .ring-green {
        background-color: green;
        translate: -53% 111%;
    }

    .component-home .article-ring .ring-spectrum .ring-blue {
        translate: -119% 28%;
    }

    .component-home .article-ring .ring-spectrum .ring-indigo {
        background-color: #1f3667;
        translate: -96% -75%;
    }

    .component-home .article-ring .ring-spectrum .ring-violet {
        margin: auto;
        translate: 0 -121%;
    }

    .component-home .article-ring .ring-spectrum span > section {
        border-radius: 50%;
        display: flex;
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .component-home .article-ring .ring-spectrum span.ring-white > section {
        border: 2px solid white;
        box-sizing: border-box;
    }
}
