body {
    overflow: hidden;
}

body:has(#room-header[data-mode="dark"]) {
    background: #eee;
    background: #0c0c0c;
    color: #111;
}

body:has(#room-header:not([data-mode="dark"])) {
    background: #111;
    background: #c0c0c0;
    color: #eee;
}

#nav-static-wrapper {
    background: transparent;
}

#chat-wrapper[data-mode="dark"] {
    background: transparent;    
}

#room-header[data-mode="dark"] {
    background: transparent;    
}